name: YaizuComLib Windows CI

on: [push]

jobs:
  build:

    runs-on: windows-2016

    steps:
    - uses: actions/checkout@v1
    - name: exec build
      env:
        GITHUBACTIONS: true
      run: |
        cd build
        ./build.bat
    - name: exec test
      env:
        GITHUBACTIONS: true
      run: |
        cd build
        ./test.bat
